# Dependencies
node_modules/
dist/

# Environment variables
.env

# Database
*.db
*.db-wal
*.db-shm
*.db-journal
vncaro.db

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Artifacts
*.diff
production_artifacts/
